In [1]:
import pandas as pd
import re
import os
import locale
from datetime import datetime
from dateutil import parser

In [3]:
#data_es = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/data/ES_DATA.csv')
#data_uk = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/data/UK_DATA.csv')
#data_fr = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/data/FR_DATA.csv')
#data_nl = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/data/NL_data_translated.csv.csv')
data = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/master_data.csv')
data.head()

,Unnamed: 0,headline,news_source,datePublished,region,articleSection,length,byline,text,highlight,translated,country
0,1,Het Lombokplein wordt te gevaarlijk'; Bus- en ...,de telegraaf,"April 19, 2023 Wednesday",Utrecht,REGIO; Blz. 12,423 words,Michiel,Bus- en tramkruising terug naar tekentafel doo...,NaN,Bus and tram intersection back to drawing boar...,NL
1,2,Utrecht is echt een fietshemel'; Route Vuelta ...,de telegraaf,"April 20, 2023 Thursday",Nederland,BINNENLAND; Blz. 12,276 words,Eric Roeske,Route Vuelta ligt er strak bij door Eric Roe...,NaN,Route Vuelta is in good shape by Eric Roeske U...,NL
2,4,"Als de auto wegvalt, crasht de economie'; Bran...",de telegraaf,"April 21, 2023 Friday",Haaglanden,REGIO; Blz. 13,447 words,Ingrid de Groot,Brandbrief honderden ondernemers over plannen ...,NaN,Urgent letter to hundreds of entrepreneurs abo...,NL
3,5,Beseffen jullie wel hoe perféct Amsterdam is?'...,nrc handelsblad,"April 22, 2023 Saturday",1ste Editie,AMSTERDAM; Blz. 1,1992 words,Stan Putman Foto Simon Lenskens,ABSTRACT Not Just Bikes De filmpjes die de Can...,NaN,ABSTRACT Not Just Bikes The videos that Canadi...,NL
4,6,Bewijs dat betaalbare woning nog steeds kan'; ...,de telegraaf,"April 23, 2023 Sunday",Nederland,FINANCIEEL; Blz. 25,627 words,Yteke de Jong,Aannemer Van Wijnen schroeft bouwproductie op ...,NaN,Contractor Van Wijnen increases construction p...,NL

In [5]:
# Convert all text in all columns to lowercase
def to_lowercase(text):
    if isinstance(text, str):
        return text.lower()
    return text

# Apply the lowercase conversion to all columns
data = data.applymap(to_lowercase)

/var/folders/98/bbr4z_5s1yj02ygmn84xmtwc0000gn/T/ipykernel_10753/2740884162.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(to_lowercase)

## Date function for English language

In [13]:
def extract_and_format_date(date_str):
    try:
        date_obj = parser.parse(date_str, fuzzy=True)
        return date_obj.strftime("%d/%m/%Y")
    except Exception as e:
        print(f"Error parsing date '{date_str}': {e}")
        return None

# Function to apply to each row in the DataFrame
def extract_and_format_dates_in_df(df, column_name):
    df['date'] = df[column_name].apply(extract_and_format_date)
    return df

# Apply the function to create a new column 'formatted_date'
data = extract_and_format_dates_in_df(data, 'datePublished')

In [15]:
data.date

0       19/04/2023
1       20/04/2023
2       21/04/2023
3       22/04/2023
4       23/04/2023
           ...
5360    28/12/2016
5361    06/03/2009
5362    22/01/2014
5363    15/08/2018
5364    07/07/2016
Name: date, Length: 5365, dtype: object

In [17]:
data.date.isna().sum()

0

In [19]:
data.date.value_counts()

date
21/12/2023    13
23/02/2024    11
01/06/2024    10
13/04/2024    10
08/09/2023     9
              ..
03/09/2015     1
07/05/2020     1
05/03/2020     1
19/08/2021     1
06/03/2009     1
Name: count, Length: 2928, dtype: int64