In [1]:
import pandas as pd
import re
import os
import locale
from datetime import datetime

In [3]:
data_es = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/data/ES_DATA.csv')
data_uk = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/data/UK_DATA.csv')
data_fr = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/data/FR_DATA.csv')
data_nl = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/data/NL_data_translated.csv.csv')
data = pd.read_csv('/Users/paulinesmirnova/Documents/GitHub/superlexis/merged_cleaned.csv')
data

,headline,news_source,datePublished,region,articleSection,length,byline,text,Unnamed: 8,Unnamed: 9
0,I came to terms with dying in a trench in Afgh...,The Daily Telegraph (London),"June 18, 2018 Monday","Edition 1, National Edition",BUSINESS;NEWS; Pg. 8,1059 words,MATTHEW CAINES,It's apt that Steve McCulley is the first vete...,NaN,NaN
1,Sea salt in my nostrils and history at my side...,The Daily Telegraph (London),"September 7, 2019 Saturday","Edition 1, National Edition",TRAVEL;FEATURES; Pg. 13,1246 words,NaN,The bicycle looked perfect: a pretty shade of ...,NaN,NaN
2,The moment the gun goes in triathlon it starts...,The Daily Telegraph (London),"February 15, 2024 Thursday","Edition 1, National Edition",WOMENS SPORT MONTHLY;SPORT; Pg. 10,972 words,NaN,Lucy Charles-Barclay knows a thing or two abou...,NaN,NaN
3,We experienced haphazard meals and mosquitoes....,The Daily Telegraph (London),"October 14, 2023 Saturday","Edition 1, National Edition",TRAVEL;FEATURES; Pg. 30,1173 words,NaN,"HOT RUNNINGS For me, a non-athlete, running ma...",NaN,NaN
4,20 things to do in North Yorkshire this summer...,The Daily Telegraph (London),"July 31, 2021 Saturday","Edition 1, National Edition","TRAVEL;FEATURES; Pg. 10,11",2215 words,NaN,THE MELLOW MOORS If your only experience of mo...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3550,’Stil asfalt tegen geluidsoverlast’,De Telegraaf,28 november 2019 donderdag,Rotterdam,REGIO; Blz. 14,443 words,Maarten Ritman,VVD boos over plannen auto weren door Maarten ...,NaN,VVD angry about plans to ban cars by Maarten R...
3551,’Verhalen over de geschiedenis’,De Telegraaf,8 mei 2018 dinsdag,Utrecht,REGIO; Blz. 12,264 words,NaN,Nieuwegein wil bewoners horen Van onze Utrecht...,NaN,Nieuwegein wants to hear from residents From o...
3552,"""Waar ligt Doorgaand Verkeer?""",De Telegraaf,"August 14, 2004",NaN,Pg. 16,1391 words,NaN,"ALKMAAR, zaterdag Met het schaamrood op de kak...",Buitenlanders kijken op 'fietsvaarvakantie' in...,"ALKMAAR, Saturday Embarrassed, Italian Fabrizi..."
3553,‘Weg met de rondslingerende deelfietsen in de ...,NRC Handelsblad,03 March 2018,NH zaterdag,Binnenland; Blz. 6,463 words,Lucette Mascini,ABSTRACT Stelling Stadsinitiatief Rotterdam en...,NaN,ABSTRACT Statement City Initiative Rotterdam a...
3554,’Wegknippen fiets moet transparant’,De Telegraaf,28 januari 2020 dinsdag,Amsterdam,REGIO; Blz. 14,433 words,Mike Muller,Vorig jaar 80.000 stuks verwijderd door Mike M...,NaN,"80,000 bicycles removed last year by Mike Mull..."

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   headline        3555 non-null   object
 1   news_source     3555 non-null   object
 2   datePublished   3547 non-null   object
 3   region          2333 non-null   object
 4   articleSection  3444 non-null   object
 5   length          3555 non-null   object
 6   byline          2803 non-null   object
 7   text            2895 non-null   object
 8   Unnamed: 8      1119 non-null   object
 9   Unnamed: 9      2571 non-null   object
dtypes: object(10)
memory usage: 277.9+ KB

In [9]:
#delete unnecessary columns
#data = data.drop(columns=['region', 'articleSection', 'byline'])

In [11]:
data.isna().sum()

headline             0
news_source          0
datePublished        8
region            1222
articleSection     111
length               0
byline             752
text               660
Unnamed: 8        2436
Unnamed: 9         984
dtype: int64

In [13]:
# Convert all text in all columns to lowercase
def to_lowercase(text):
    if isinstance(text, str):
        return text.lower()
    return text

# Apply the lowercase conversion to all columns
data = data.applymap(to_lowercase)

/var/folders/98/bbr4z_5s1yj02ygmn84xmtwc0000gn/T/ipykernel_8477/2740884162.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(to_lowercase)

In [15]:
data

,headline,news_source,datePublished,region,articleSection,length,byline,text,Unnamed: 8,Unnamed: 9
0,i came to terms with dying in a trench in afgh...,the daily telegraph (london),"june 18, 2018 monday","edition 1, national edition",business;news; pg. 8,1059 words,matthew caines,it's apt that steve mcculley is the first vete...,NaN,NaN
1,sea salt in my nostrils and history at my side...,the daily telegraph (london),"september 7, 2019 saturday","edition 1, national edition",travel;features; pg. 13,1246 words,NaN,the bicycle looked perfect: a pretty shade of ...,NaN,NaN
2,the moment the gun goes in triathlon it starts...,the daily telegraph (london),"february 15, 2024 thursday","edition 1, national edition",womens sport monthly;sport; pg. 10,972 words,NaN,lucy charles-barclay knows a thing or two abou...,NaN,NaN
3,we experienced haphazard meals and mosquitoes....,the daily telegraph (london),"october 14, 2023 saturday","edition 1, national edition",travel;features; pg. 30,1173 words,NaN,"hot runnings for me, a non-athlete, running ma...",NaN,NaN
4,20 things to do in north yorkshire this summer...,the daily telegraph (london),"july 31, 2021 saturday","edition 1, national edition","travel;features; pg. 10,11",2215 words,NaN,the mellow moors if your only experience of mo...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3550,’stil asfalt tegen geluidsoverlast’,de telegraaf,28 november 2019 donderdag,rotterdam,regio; blz. 14,443 words,maarten ritman,vvd boos over plannen auto weren door maarten ...,NaN,vvd angry about plans to ban cars by maarten r...
3551,’verhalen over de geschiedenis’,de telegraaf,8 mei 2018 dinsdag,utrecht,regio; blz. 12,264 words,NaN,nieuwegein wil bewoners horen van onze utrecht...,NaN,nieuwegein wants to hear from residents from o...
3552,"""waar ligt doorgaand verkeer?""",de telegraaf,"august 14, 2004",NaN,pg. 16,1391 words,NaN,"alkmaar, zaterdag met het schaamrood op de kak...",buitenlanders kijken op 'fietsvaarvakantie' in...,"alkmaar, saturday embarrassed, italian fabrizi..."
3553,‘weg met de rondslingerende deelfietsen in de ...,nrc handelsblad,03 march 2018,nh zaterdag,binnenland; blz. 6,463 words,lucette mascini,abstract stelling stadsinitiatief rotterdam en...,NaN,abstract statement city initiative rotterdam a...
3554,’wegknippen fiets moet transparant’,de telegraaf,28 januari 2020 dinsdag,amsterdam,regio; blz. 14,433 words,mike muller,vorig jaar 80.000 stuks verwijderd door mike m...,NaN,"80,000 bicycles removed last year by mike mull..."

## Date function for English language

In [24]:
# Function to extract and format date
def extract_and_format_date(date_str):
    try:
        # Extract the date part using regex to handle different formats
        date_part = date_str.split(' ')[0:3]  # Take only the first three parts
        date_str_cleaned = ' '.join(date_part)
        # Parse the cleaned date string
        date_obj = datetime.strptime(date_str_cleaned, '%B %d, %Y')
        # Format to dd/mm/yyyy
        formatted_date = date_obj.strftime('%d/%m/%Y')
        return formatted_date
    except Exception as e:
        # If parsing fails, return None
        return None

# Apply the function to the column
data['date'] = data['datePublished'].apply(extract_and_format_date)

# Drop the rows where dates could not be parsed
#df = df.dropna(subset=['date'])

In [26]:
data

,headline,news_source,datePublished,region,articleSection,length,byline,text,Unnamed: 8,Unnamed: 9,date
0,i came to terms with dying in a trench in afgh...,the daily telegraph (london),"june 18, 2018 monday","edition 1, national edition",business;news; pg. 8,1059 words,matthew caines,it's apt that steve mcculley is the first vete...,NaN,NaN,18/06/2018
1,sea salt in my nostrils and history at my side...,the daily telegraph (london),"september 7, 2019 saturday","edition 1, national edition",travel;features; pg. 13,1246 words,NaN,the bicycle looked perfect: a pretty shade of ...,NaN,NaN,07/09/2019
2,the moment the gun goes in triathlon it starts...,the daily telegraph (london),"february 15, 2024 thursday","edition 1, national edition",womens sport monthly;sport; pg. 10,972 words,NaN,lucy charles-barclay knows a thing or two abou...,NaN,NaN,15/02/2024
3,we experienced haphazard meals and mosquitoes....,the daily telegraph (london),"october 14, 2023 saturday","edition 1, national edition",travel;features; pg. 30,1173 words,NaN,"hot runnings for me, a non-athlete, running ma...",NaN,NaN,14/10/2023
4,20 things to do in north yorkshire this summer...,the daily telegraph (london),"july 31, 2021 saturday","edition 1, national edition","travel;features; pg. 10,11",2215 words,NaN,the mellow moors if your only experience of mo...,NaN,NaN,31/07/2021
...,...,...,...,...,...,...,...,...,...,...,...
3550,’stil asfalt tegen geluidsoverlast’,de telegraaf,28 november 2019 donderdag,rotterdam,regio; blz. 14,443 words,maarten ritman,vvd boos over plannen auto weren door maarten ...,NaN,vvd angry about plans to ban cars by maarten r...,None
3551,’verhalen over de geschiedenis’,de telegraaf,8 mei 2018 dinsdag,utrecht,regio; blz. 12,264 words,NaN,nieuwegein wil bewoners horen van onze utrecht...,NaN,nieuwegein wants to hear from residents from o...,None
3552,"""waar ligt doorgaand verkeer?""",de telegraaf,"august 14, 2004",NaN,pg. 16,1391 words,NaN,"alkmaar, zaterdag met het schaamrood op de kak...",buitenlanders kijken op 'fietsvaarvakantie' in...,"alkmaar, saturday embarrassed, italian fabrizi...",14/08/2004
3553,‘weg met de rondslingerende deelfietsen in de ...,nrc handelsblad,03 march 2018,nh zaterdag,binnenland; blz. 6,463 words,lucette mascini,abstract stelling stadsinitiatief rotterdam en...,NaN,abstract statement city initiative rotterdam a...,None
3554,’wegknippen fiets moet transparant’,de telegraaf,28 januari 2020 dinsdag,amsterdam,regio; blz. 14,433 words,mike muller,vorig jaar 80.000 stuks verwijderd door mike m...,NaN,"80,000 bicycles removed last year by mike mull...",None